<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="voltar" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="black">

    <div class="user">
    </div>
    <h2>Lui Kang</h2>

  <ion-button color="warning" size="full" expand="block" shape="round">Endereços</ion-button>
  <ion-button color="warning" size="full" expand="block" shape="round" Href="../loyalty-points">Pontos de Fidelidade</ion-button>
  <ion-button (click)="sair()" color="warning" size="full" expand="block" shape="round">Sair</ion-button>
</div>
</ion-content>
