<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="voltar" defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="black">
    <div class="logo">
    </div>
    <div class="form">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Confirmar Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block">Cadastrar-se</ion-button>
    </div>
  </div>


